@import "tailwindcss";

/* =========================
   1. RESET / GLOBAL
   ========================= */

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* =========================
   2. DESIGN TOKENS
   ========================= */

@theme {

    /* typography */
    --text-h1: clamp(2rem, 4vw, 6rem);
    --text-h2: clamp(1.5rem, 3vw, 4.5rem)

}

/* =========================
   4. BASE ELEMENTS
   ========================= */

@layer base {

}